<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Descrição</th>
      <th colspan="2" class="has-text-centered">manhã</th>
      {{!-- <th colspan="2" class="has-text-centered">tarde</th> --}}
      <th class="has-text-right">total</th>
    </tr>
  </thead>
  <tbody>
    {{#each tasks as |task|}}
      <tr>
        <td>
          <a {{action 'edit' task}}>{{task.description}}</a>
        </td>
        <td class="has-text-centered">{{task.initial}}</td>
        <td class="has-text-centered">{{task.ending}}</td>
        {{!-- <td class="has-text-centered">{{get task.period 'afternoonStartAt'}}</td> --}}
        {{!-- <td class="has-text-centered">{{get task.period 'afternoonEndAt'}}</td> --}}
        <td class="has-text-right"><strong>{{task.dayPeriod}}</strong></td>
      </tr>
    {{else}}
      <tr>
        <td colspan="4" class="has-text-centered">
          <em>Ops... Você ainda não criou nenhuma tarefa, por isso essa lista está vazia!</em>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
