<div class="columns">
  <div class="column is-8">
    <div class="field">
      {{log model}}
      <div class="control is-expanded">
        {{input type="text"
                value=model.description
                class="input is-warning big-input"
                placeholder="Qual é o nome da sua tarefa?"}}
      </div>
    </div>
  </div>
  <div class="column is-4">
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <div class="control">
            {{input type="text"
                    value=model.initial
                    class="input is-warning big-input-time"
                    placeholder="13:00"}}
          </div>
        </div>
        <div class="field">
          <div class="control">
            {{input type="text"
                    value=model.ending
                    class="input is-warning big-input-time"
                    placeholder="18:00"}}
          </div>
        </div>
        <div class="field">
          <a {{action 'save'}} class="button is-light" style="height: 80px; width: 100px">
            <span class="icon is-large"><i data-feather="play"></i></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
