<div class="columns">
  <div class="column is-8">
    <div class="field">
      <div class="control is-expanded">
        <Input
          type="text"
          class="input is-warning big-input"
          placeholder="Qual é o nome da sua tarefa?"
          @value={{@model.description}}
        />
      </div>
    </div>
  </div>
  <div class="column is-4">
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <div class="control">
            <Input
              type="text"
              class="input is-warning big-input-time"
              placeholder="13:00"
              @value={{@model.initial}}
            />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <Input
              type="text"
              class="input is-warning big-input-time"
              placeholder="18:00"
              @value={{@model.ending}}
            />
          </div>
        </div>
        <div class="field" {{render-feather-icons}}>
          <button
            class="button is-light"
            style="height: 80px; width: 100px"
            {{on "click" (action this.save)}}
          >
            <span class="icon is-large"><i data-feather="play"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
